
@{
    ViewBag.Title = "CardTrick";
}

<h2>CardTrick</h2>

<table summary="Layout table for name, contact info, and objective" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="top">
                <img id="card1_1" />
            </td>
            <td valign="top">
                <img id="card2_1" />
            </td>
            <td valign="top">
                <img id="card3_1" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img id="card1_2" />
            </td>
            <td valign="top">
                <img id="card2_2" />
            </td>
            <td valign="top">
                <img id="card3_2" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img id="card1_3" />
            </td>
            <td valign="top">
                <img id="card2_3" />
            </td>
            <td valign="top">
                <img id="card3_3" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img id="card1_4" />
            </td>
            <td valign="top">
                <img id="card2_4" />
            </td>
            <td valign="top">
                <img id="card3_4" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img id="card1_5" />
            </td>
            <td valign="top">
                <img id="card2_5" />
            </td>
            <td valign="top">
                <img id="card3_5" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img id="card1_6" />
            </td>
            <td valign="top">
                <img id="card2_6" />
            </td>
            <td valign="top">
                <img id="card3_6" />
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img id="card1_7" />
            </td>
            <td valign="top">
                <img id="card2_7" />
            </td>
            <td valign="top">
                <img id="card3_7" />
            </td>
        </tr>
    </tbody>
</table>