@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Katie Antlitz</h3>

<address>
    807 Butterfield Ct<br />
    Shorewood, IL 60404<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:katie@katinthecode.com">Katie@KatInTheCode.com</a><br />
</address>