﻿@{
    ViewBag.Title = "A Kat In The Code";
}

<div>
    <div>
        <br>
        <h3>I am Katie and I love to code!</h3>
        <br />
        <h4>About this site:</h4>
        <p>
            Hello, welcome to my website.  It is still under maintenance.  Please be patient.
            I am currently searching for a position as a full stack developer.  I have
            over 10 years of full stack development experience working with .NET, PHP,
            iOS and Android apps, database work, apis, and reporting.

            I love working on any kind of code.
            This site is created with HTML5, C#.NET, ASP.NET, and some Angular2.
            It was created with Visual Studio 2017, using MVC.  I am currently
            using Visual Studio 2022.
        </p>

        <h4>Projects I am working on:</h4>
        <ul>
            <li>A blog also using ASP.NET Core, SQL Server 2017, Fluent NHibernate, NHibernate, Ninject, and jQuery</li>
            <li>Yahtzee Score Calculator with Angular</li>
            <li>Mathematical Card Trick - currently works for ios.  I want to put a similar page up.</li>
        </ul>
    </div>
</div>