button{
    height: 36pt;
    width: 60pt;
    margin: 2pt;
    font-size: 14pt;
}

.calculator{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.input{
    font-size: 24pt;
}